body{
    background-color: wheat;
}

label{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
input {
    font-size: 2.5rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

button{
    font-size: 2rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}
#resultDice{
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
